In [6]:
result = 2 * 5
print(result)

10

In [11]:
a,b,c,d = 28.9,30,30.2,41.5
print(round(a))
print(float(b))
print(int(c))
print(int(d))

29
30.0
30
41

In [12]:
arrayList = ['sodeeq','na you','alli','isiadinso','israel']
print(arrayList[2])
print(len(arrayList))

alli
5

In [14]:
name,age,height,nationality = 'israel','19','5ft11','nigerian'
print('I, {}, {} years old, {}, is {} tall'.format(name,age,nationality,height))

I, israel, 19 years old, nigerian, is 5ft11 tall

In [2]:
print(2*5)

10

In [1]:
print('My name is Israel')

My name is Israel

In [5]:
base, height = 3,5
area = 0.5 * base * height
print(area)

7.5